<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="EUC-KR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    
    <h1>홈페이지에 오신것을 welcome 입니다.</h1>

    

    <header style= "border-bottom: 1px solid #aaa; margin-bottom: 10px; padding-bottom: 10px">
        <nav>
            <a href="/">홈</a> |<!--버튼 생성-->
            <a href="/profile">프로필</a> |
            <a href="/map">찾아오시는길</a> |
            <a href="/contact">문의하기기</a> |
        </nav>
    </header>