<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="EUC-KR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    
    홈페이지에 오신것을 welcome 입니다.

    <header>
        <nav>
            <a href="/">홈</a> |<!--버튼 생성-->
            <a href="/profile">프로필</a> |
            <a href="/map">찾아오시는길</a> |
            <a href="/contact">문의하기기</a> |
        </nav>
    </header>

</body>
</html>