<%-include('header.ejs')%>

I am 프로필 입니다.

<ul>
    <h4>
        <li> 이름: 이승훈(일구)</li>
        <li> 이메일(개인): seunghoon.no.1@gmail.com</li>
        <li> 이메일(단체): 202321316@sangmyung.kr</li>
        <li> 주소: 안알랴줌</li>
    </h4>
</ul>


<%-include('booter.ejs')%>